.group {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.limit {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: var(--color-bg-light-grey);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.limit > div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-border);
}
