.foot {
  position: relative;
  width: 100%;
  height: 100%;
}

.foot > tr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 68px;
  display: grid;
  place-items: center;
}

.cell {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cell > span {
  font: normal 500 14px/19px Roboto;
  color: var(--gris3, #585d6f);
}

.cell > span > b {
  font: normal 800 14px/19px Roboto;
}

.input {
  width: 2.6rem;
  padding: 0.5rem 1rem;
  border-radius: 3.75px;
  outline: 0;
  background: var(--ba-white);
  color: var(--gris3, #585d6f);
  text-align: center;
  font: normal 800 14px/19px Roboto;
  border: 0.875px solid var(--Gris-1, #dcdde3);
  caret-color: var(--ba-primary-color);
  transition: ease 0.3s;
}

.input:is(:hover, :active, :focus) {
  outline: 0;
  border: 1px solid var(--ba-primary-color);
}

.buttonsContainer {
  background: #fff;
  width: 5rem;
  height: 2rem;
  border-radius: 3.75px;
  border: 0.875px solid var(--ba-primary-color);
  display: flex;
  align-self: center;
  justify-content: center;
}

.buttonsContainer > button {
  width: 100%;
  height: 100%;
  background: 0;
  border: 0;
  outline: 0;
  display: grid;
  color: #a1a9c7;
  place-items: center;
  transition: ease 0.3s;
  cursor: pointer;
}

.buttonsContainer > button svg path {
  transition: ease 0.2s;
}

.buttonsContainer > button:is(:hover, :active) svg path {
  stroke: var(--ba-primary-color);
}

.withoutFooter {
  height: unset;
}