.table {
  margin-top: 1rem;
  min-height: unset;
  padding-bottom: 1rem;
}

.user {
  padding-left: 1rem;
  width: 37%;
}

.user > div {
  display: flex;
  justify-content: flex-start;
}

.type {
  width: 23%;
}

.access {
  width: 20%;
}

.status {
  width: 20%;
}

.status > div {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 1320px) {
  .user {
    width: 53%;
  }

  .user > div {
    display: flex;
    justify-content: flex-start;
  }

  .type {
    width: 17%;
  }

  .access {
    width: 15%;
  }

  .status {
    width: 15%;
  }
}
