.article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article > h3 {
  color: var(--color-hint-text);
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}
