.cell {
  position: relative;
  text-align: center;
}

.cellContainer {
  font: normal 400 14px/19px 'Poppins';
  color: var(--color-hint-text);
  padding-inline: 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconSort {
  position: relative;
  top: 1px;
  padding-left: 0.3rem;
  color: #989eba;
  line-height: 0;
}

.onSortActive {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  transform: translateY(-100%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  color: var(--color-hint-text);
  padding: 8px 16px;
  border-radius: 5px;
  font: normal 500 12px/13px 'Poppins';
  background: var(--color-white);
  filter: drop-shadow(-2px 2px 10px rgba(112, 112, 117, 0.3));
  transition: ease 0.3s;
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-white) transparent transparent transparent;
}

.cell:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-125%);
}
