.cell {
  position: relative;
  text-align: center;
  color: #363852;
}

.cellContainer {
  font: normal 400 14px/19px Roboto;
  padding-inline: 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconSort {
  position: relative;
  top: 1px;
  padding-left: 0.3rem;
  color: #989eba;
  line-height: 0;
}

.onSortActive {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  transform: translateY(-100%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font: normal 500 12px/13px Roboto;
  background: var(--Color-200, #5f6388);
  box-shadow: 0px 42.109px 27.857px 0px rgba(41, 72, 152, 0.03), 0px 21.864px 14.212px 0px rgba(41, 72, 152, 0.03),
    0px 8.908px 7.126px 0px rgba(41, 72, 152, 0.02), 0px 2.024px 3.442px 0px rgba(41, 72, 152, 0.01);
  transition: ease 0.3s;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #5f6388 transparent transparent transparent;
}

.cell:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-125%);
}
